.box-header {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding-top: 60px;
    padding-bottom: 30px;
}

.box-header h2 {
    font-size: 40px;
    font-weight: 600;
}

.box-header h3 {
    font-size: 24px;
    font-weight: 400;
    padding-bottom: 20px;
}

.custom-card {
    display: flex;
    align-items: flex-start; /* Align items to the top of the card */
    justify-content: space-between; /* Spread out content horizontally */
    padding: 1rem;
    margin-bottom: 2rem;
    border: 2px solid #A8A8A8;
    border-radius: 8px;
    background-color: #fff;
    transition: background-color 1s ease, box-shadow 0.7s ease;
}

.custom-card-akhir {
    display: flex;
    align-items: flex-start; /* Align items to the top of the card */
    justify-content: space-between; /* Spread out content horizontally */
    padding: 1rem;
    margin-bottom: 5rem;
    border: 2px solid #A8A8A8;
    border-radius: 8px;
    background-color: #fff;
    transition: background-color 1s ease, box-shadow 0.7s ease;   
}

.custom-card:hover {
    background-color: #e6e6e6;
    box-shadow: 0px 10px 15px 7px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 0px 10px 15px 7px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 10px 15px 7px rgba(0, 0, 0, 0.25);
}