.box-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-left: 80px;
    padding-top: 40px;
    padding-right: 80px;
    padding-bottom: 80px;
}

.box-header h2{
    font-size: 80px;
    font-weight: 600;
}

.box-header h3{
    padding-bottom: 40px;
}