/* footer */
footer {
    background-color: #488b8f;
    padding: 2rem;
    box-shadow: 0px -4px 10px 0px rgba(157, 157, 157, 0.75);
    -webkit-box-shadow: 0px -4px 10px 0px rgba(157, 157, 157, 0.75);
    -moz-box-shadow: 0px -4px 10px 0px rgba(157, 157, 157, 0.75);
}

.exp-footer {
    margin-top: 0.8rem;
    text-align: start;
    color: white;
    font-weight: bolder;
}

.alamat,
.navigasi {
    color: white;
    padding: 14px;
    margin: 0;
}
.alamat h5 {
    font-weight: bolder;
    margin-bottom: 15px;
}
.alamat p {
    margin: 0 0 10px;
    display: flex;
    align-items: center;
    text-align: start;
    color: white;
}
.alamat i {
    margin-right: 10px;
    font-size: 1.2em;
}

.navigasi {
    padding: 10px;
}
.navigasi a {
    text-decoration: none;
    color: inherit;
    font-weight: lighter;
    margin-bottom: 2px;
}
